<launch>
    <arg name="no_model" default="false"/>  
    
    <node pkg="spot_micro_perception" 
    type="cameraPublisher.py" 
    name="camera_publisher_node" 
    output="screen"/>

    <group if="$(arg no_model)">
        <node pkg="spot_micro_perception" 
        type="cameraSubscriber.py" 
        name="camera_subscriber_node" 
        output="screen"/>
    </group>

    <group unless="$(arg no_model)">
        <arg name="weights" default="yolov2.weights"/>
        <arg name="cfg" default="yolov2.cfg"/>  
        <arg name="labels" default="coco.txt"/>
        <arg name="width" default="416"/>
        <arg name="height" default="416"/>
        
           

        <node pkg="spot_micro_perception" 
        type="spotMicroDetectionManager.py" 
        name="detection_publisher" 
        output="screen">
            <param name="model_weights" value="$(find spot_micro_perception)/configs/networks/$(arg weights)"/>
            <param name="model_cfg" value="$(find spot_micro_perception)/configs/networks/$(arg cfg)"/>
            <param name="model_labels" value="$(find spot_micro_perception)/configs/labels/$(arg labels)"/>
            <param name="model_width" value="$(arg width)"/>
            <param name="model_height" value="$(arg height)"/>
            
        </node>
    </group>
</launch>
