<launch>

    <arg name="no_model" default="false"/>
    
    <group if="$(arg no_model)">
        <include file="$(find spot_micro_perception)/launch/camera.launch"/>
    </group>

    <group unless="$(arg no_model)">
        <include file="$(find spot_micro_perception)/launch/network_params.launch"/>
    </group>
    
</launch>
